@font-face {
    font-family: 'Hans Kendrick';
    src: url('../fonts/HansKendrick-Regular.woff2') format('woff2'),
         url('../fonts/HansKendrick-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}