* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #e2e7ec;
  font-family: "Hans Kendrick", sans-serif;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}

.card_wrap {
  margin-top: 91px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.big_card {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 740px;
  height: 540px;
  background-color: transparent;
  background-image: url(../images/bigimg.jpg);
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.95) 100%
  );
}

.big_text {
  z-index: 1;
  padding-left: 46px;
  padding-bottom: 37px;
}
.big_date {
  margin-bottom: 18px;
  color: #818181;
  font-size: 13px;
  text-transform: uppercase;
}

.big_title {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  width: 440px;
}

.card {
  width: 360px;
  height: 540px;
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
}

.card_img {
  margin-bottom: 24px;
}

.date {
  color: #818181;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 28px 15px 28px;
}

.title {
  font-size: 22px;
  color: #1d1d1d;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 18px 0 28px;
  line-height: 30px;
}

.author_img {
  position: absolute;
  bottom: 26px;
  left: 29px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.loader_gif {
  margin-right: 15px;
}

.loading_text {
  text-transform: uppercase;
  font-weight: 700;
  color: #99a5b0;
  font-size: 13px;
  line-height: 30px;
}