.hamburger {
  display: none;
}

.mmb {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  max-width: 400px;
  color: $main-col;
  background-color: $main-col;
  box-shadow: 0 0 5px #000;
  transition: all 0.2s ease;
  z-index: 201;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $header-bgc;
    height: 80px;
  }
  &__logo {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 5px;
  }
}

#mobile-menu-shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 200;
}

.open {
  .mmb {
    left: 0;
  }
  #mobile-menu-shadow {
    display: block;
  }
}

.mob-menu {
  min-height: calc(100vh - 80px);
  overflow-y: scroll;
  &__item {
    border-bottom: 1px solid $header-bgc;
  }
  &__link {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: $header-bgc;
    width: 100%;
    &:active,
    &:hover {
      background-color: darken($color: $header-bgc, $amount: 5);
      color: $main-col;
    }
  }
}

#to-top {
  display: block;
  position: fixed;
  right: 25px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba($color: #fff, $alpha: 0.2);
  z-index: 199;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 21px;
    left: 17.5px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
  }
  &:active,
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.3);
  }
}

.header {
  height: 80px;
  width: 100%;
  z-index: 100;
  background-color: $header-bgc;
  .container {
    height: 100%;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &.fixed {
    height: 80px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: rgba($color: $header-bgc, $alpha: 0.7);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    margin-right: 42px;
    &--last {
      margin-right: 0;
    }
    &:active .menu__link::after,
    &:hover .menu__link::after {
      background-color: $main-col;
    }
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $main-col;
    font-size: 14px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      width: 101%;
      height: 3px;
      bottom: -7px;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
