@import "base/index";
@import "header";
@import "footer";
@import "sections/first_screen";
@import "sections/what-we-do";
@import "sections/latest-news";
@import "sections/gallery";

body {
    font-family: "Gotham", sans-serif;
}

.container {
    width: 90%;
    max-width: rem(1170px);
    margin: 0 auto;
}

.btn {
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: $title-col;
    font-size: rem(14px);
    font-weight: 350;
    line-height: rem(50px);
    border: rem(1px) solid $title-col;
    width: rem(190px);
    height: rem(50px);
    &:hover, &:active {
        background-color: $title-col;
        color: $main-col;
    }
}

.arrow-btn {
    position: absolute;
    & a {
        text-decoration: none;
        display: block;
        width: rem(40px);
        height: rem(40px);
        border: rem(1px) solid $main-col;
        border-radius: 50%;
        &:hover, &:active {
            background-color: $main-col;
        }
        &:hover::before, &:active::before{
            border-color: $header-bgc;
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            left: 50%;
            width: rem(5px);
            height: rem(5px);
        }
    }
}

.title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(44px);
    font-weight: 700;
    &::before {
        content: "";
        display: block;
        width: rem(100px);
        height: rem(1px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-31px);
    }
}

.soc_link {
    display: block;
    border-width: rem(1px);
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    width: rem(40px);
    height: rem(40px);
    line-height: rem(40px);
    text-decoration: none;
}