* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1c1c;
    color: #fff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
}

.container {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

#features {
    padding: 100px 0;
}

#features_list {
    list-style: none;
}

#features_list li {
    display: inline-block;
    width: 33.3333%;
    margin: 0 -2px;
    padding: 0 20px;
    text-align: center;
}

.icon_wrap {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    background-color: #ff9c00;
    border-radius: 20px 0;
    line-height:  80px;
    margin-bottom: 41px;
}

.icon_wrap img {
    vertical-align: middle;
}

#features_list li h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 400;
}

footer {
    background-color: #121116;
    padding: 37px 0;
}

.logo {
    padding: 83px 0 0;
    text-align: center;
}

.tagline {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 39px 0 16px;
    border-bottom: solid 1px white;
    width: 230px;
    margin: 0 auto;
}

.social ul {
    text-align: center;
}

.social ul li {
    display: inline-block;
    padding: 18px 14px;
}

.copyright {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 57px 0 0;
}

.copyright a {
    text-decoration: none;
    color: #00c7fc;
}