@import "reset";
@import "variables";

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
body {
  background-color: #ebebeb;
}

.title {
  text-transform: uppercase;
  font-size: rem(36px);
  font-weight: 700;
  font-family: "Proxima Nova Semibold";
}

.btn {
  width: 90%;
  max-width: 195px;
  height: 50px;
  border: 1px solid $font-color-black;
  color: $font-color-black;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-size: rem(20px);
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  background: transparent;
  outline: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.to_top {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 30px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: rgba($color: $font-color-purple, $alpha: 0.4);
  font-weight: 700;
  z-index: 999;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &:hover {
    background-color: rgba($color: $font-color-purple, $alpha: 1);
  }
  span {
    display: block;
    width: 26px;
    height: 26px;
    border-bottom: 2px solid $font-color-white;
    border-left: 2px solid $font-color-white;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: rotate(135deg) translate(-50%, -50%);
    -ms-transform: rotate(135deg) translate(-50%, -50%);
    transform: rotate(135deg) translate(-50%, -50%);
  }
}

.btn_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger {
  display: none;
}

#mobile_shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgb(30, 109, 166);
  background: -o-linear-gradient(
    320deg,
    rgba(30, 109, 166, 0.3757878151260504) 3%,
    rgba(74, 57, 134, 0.2665441176470589) 95%
  );
  background: linear-gradient(
    130deg,
    rgba(30, 109, 166, 0.3757878151260504) 3%,
    rgba(74, 57, 134, 0.2665441176470589) 95%
  );
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1002;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.open_shadow {
  &#mobile_shadow {
    display: block;
  }
}

.mobile_menu {
  position: fixed;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 0;
  left: -110%;
  height: 100vh;
  width: 90%;
  max-width: 320px;
  background: $font-color-purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1003;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  .header_menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 60%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
  }
  .header_menu-item {
    margin-right: 0;
    a {
      letter-spacing: 4px;
    }
  }
}

.open_menu {
  &.mobile_menu {
    left: 0;
  }
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 999;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &_logo {
    svg {
      fill: #fff;
    }
  }
  &_menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &_menu-item {
    margin-right: 26px;
    &:last-child {
      margin-left: 0;
    }
    a {
      text-transform: uppercase;
      font-family: "Proxima Nova Semibold", sans-serif;
      color: $font-color-white;
      font-size: rem(24px);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      outline: none;
      &:hover {
        color: $font-color-black;
      }
    }
  }
}

.Header {
  background: rgba($color: $font-color-purple, $alpha: 0.4);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  height: 60px;
}

.mobile-header {
  width: 90%;
  height: 60px;
  .header_logo {
    svg {
      height: 40px;
    }
  }
}

.big-screen {
  padding: 400px 0 514px;
  background: center center / cover no-repeat;
  text-align: center;
  &_title {
    color: $font-color-white;
    font-size: rem(72px);
    text-transform: uppercase;
    font-family: "Proxima Nova Bold", sans-serif;
    margin-bottom: 44px;
  }
  &_description {
    color: $font-color-white;
    font-size: rem(30px);
    font-family: "PT Sans", sans-serif;
    font-style: italic;
    width: 90%;
    max-width: 660px;
    margin: 0 auto;
  }
}

.about {
  padding: 124px 0 120px;
  &_content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  &_image-block {
    width: calc(32.47%);
    // max-width: 380px;
    position: relative;
    &_text_inner {
      position: absolute;
      top: 30%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 1;
      text-align: center;
    }
  }
  &_text {
    font-family: "Proxima Nova Semibold", sans-serif;
    color: $font-color-white;
    text-transform: uppercase;
    font-size: rem(36px);
    margin: 0 auto;
  }
  &_text-block {
    width: calc(54.27%);
    padding: 65px 30px 0 0;
  }
  &_description {
    font-family: "PT Sans", sans-serif;
    font-size: rem(20px);
    color: $font-color-black;
    &.uper {
      margin-bottom: 32px;
    }
    &.lower {
      margin-bottom: 98px;
    }
  }
  &_btn {
    &:hover,
    &:focus {
      border-color: $font-color-white;
      color: $font-color-white;
      background-color: $font-color-black;
    }
  }
}

.services {
  &_list {
    display: grid;
    grid-template-columns: calc((100% * 380) / 1170) calc((100% * 380) / 1170) calc(
        (100% * 410) / 1170
      );
  }
  &_item {
    padding: 100px 0 136px;
    // height: 400px;
    text-align: center;
    svg {
      margin-bottom: 7px;
    }
    &.big {
      grid-column: 3 / span 4;
      grid-row: 1 / span 2;
      .services_title {
        color: $font-color-white;
        margin-bottom: 118px;
        font-size: rem(36px);
        letter-spacing: 1px;
      }
      .services_description {
        color: $font-color-white;
        max-width: 350px;
        b {
          font-style: normal;
        }
      }
    }
    &.grey {
      background-color: #dbdbdb;
    }
  }
  &_title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: $font-color-black;
    text-transform: uppercase;
    font-size: rem(24px);
    margin-bottom: 18px;
  }
  &_description {
    font-family: "PT Sans", sans-serif;
    font-style: italic;
    color: $font-color-black;
    width: 90%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    font-size: rem(18px);
  }
}

.works {
  background: center center / cover no-repeat;
  padding: 48px 0 60px;
  text-align: center;
  position: relative;
  &_slider-container {
    width: 90%;
    max-width: 730px;
    margin: 0 auto 46px;
  }
  &_logo {
    width: 40px;
    height: 60px;
    margin-bottom: 36px;
  }
  &_title {
    color: $font-color-white;
    margin-bottom: 68px;
  }
  &_slider-item {
    width: 100%;
    height: 550px;
  }
  &_btn {
    border-color: $font-color-white;
    color: $font-color-white;
    &:hover {
      background-color: $font-color-white;
      color: $font-color-black;
    }
  }
  .prev_slide,
  .next_slide {
    width: 26px;
    height: 26px;
    border-bottom: 2px solid $font-color-white;
    border-left: 2px solid $font-color-white;
    position: absolute;
  }
  .prev_slide {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 8%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .next_slide {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8%;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.lSSlideOuter .lSPager.lSpg > li a {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  &:focus,
  &:hover {
    background-color: #fff;
  }
}

.lSPager.lSpg {
  margin-top: 30px !important;
}

.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #fff;
}

.team {
  padding: 60px 0 98px;
  text-align: center;
  position: relative;
  .lSSlideOuter .lSPager.lSpg > li a {
    display: none;
  }
  &_logo {
    width: 60px;
    height: 60px;
    margin-bottom: 34px;
  }
  &_title {
    color: $font-color-black;
    margin-bottom: 70px;
  }
  &_slider {
    height: 475px;
  }
  &_container {
    max-width: 1110px;
  }
  .prev_slide,
  .next_slide {
    width: 26px;
    height: 26px;
    border-bottom: 2px solid $font-color-black;
    border-left: 2px solid $font-color-black;
    position: absolute;
  }
  .prev_slide {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 3%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .next_slide {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3%;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.member {
  width: 350px;
  // max-width: 350px;
  &_info-wrap {
    padding-top: 150px;
    padding-bottom: 45px;
    margin-top: -125px;
    background-color: #fff;
  }
  &_photo {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    img {
      border-radius: 50%;
      border: 12px solid #ebebeb;
    }
  }
  &_name {
    text-transform: uppercase;
    font-size: rem(24px);
    font-family: "Proxima Nova Bold", sans-serif;
    color: $font-color-purple;
    margin-bottom: 32px;
  }
  &_position {
    font-family: "PT Sans", sans-serif;
    font-style: italic;
    font-size: rem(24px);
    color: $font-color-black;
    // margin-bottom: 50px;
  }
  &_soc-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $font-color-purple;
    height: 70px;
    padding: 0 45px;
  }
  &_soc-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 32px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    i {
      color: $font-color-purple;
    }
    &:hover {
      background-color: $font-color-purple;
      i {
        font-size: rem(18px);
        color: #fff;
      }
    }
  }
}

.contact {
  background: center center / cover no-repeat;
  padding: 56px 0 52px;
  text-align: center;
  overflow: hidden;
  position: relative;
  &_logo {
    width: 42px;
    height: 60px;
    margin-bottom: 24px;
  }
  &_title {
    color: $font-color-white;
    margin-bottom: 270px;
  }
  &_container {
    max-width: 860px;
  }
  &_form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }
  &_input-wrap {
    width: calc(50% - 15px);
    height: 55px;
    position: relative;
    margin-bottom: 25px;
  }
  &_input {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: rgba($color: $font-color-white, $alpha: 0.4);
    border: 1px solid transparent;
    outline: none;
    padding-left: 22px;
    &:focus {
      border-color: $font-color-purple;
    }
  }
  &_placeholder {
    position: absolute;
    color: $font-color-white;
    font-size: rem(18px);
    font-style: italic;
    font-family: "PT Sans", sans-serif;
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &_star {
    color: $font-color-black;
  }
  &_err_msg {
    position: absolute;
    top: -35%;
    left: 5%;
    font-family: "PT Sans", sans-serif;
    color: orangered;
  }
  &_textarea-wrap {
    position: relative;
    width: 100%;
    height: 200px;
    .contact_placeholder {
      top: 20%;
      left: 3%;
    }
    .contact_err_msg {
      top: -10%;
      left: 2.5%;
    }
  }
  &_textarea {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: rgba($color: $font-color-white, $alpha: 0.4);
    border: 1px solid transparent;
    outline: none;
    padding-left: 22px;
    padding-top: 24px;
    resize: none;
    &:focus {
      border-color: $font-color-purple;
    }
  }
  &_btn {
    width: 100%;
    max-width: 293px;
    height: 70px;
    border-radius: 3px;
    border: none;
    background-color: $font-color-purple;
    border-bottom: 3px solid #8783b0;
    color: $font-color-white;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: rem(20px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: #8783b0;
      border-color: $font-color-purple;
    }
  }
  &_sticker {
    width: 90%;
    max-width: 347px;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0%;
    top: 25%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    -webkit-transform: translateX(74%);
    -ms-transform: translateX(74%);
    transform: translateX(74%);
    &.phone {
      top: 34.9%;
      &:hover,
      &:focus {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
      }
    }
    &.address {
      &:hover,
      &:focus {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
      }
    }

    &-icon_wrap {
      width: 90px;
      height: 100%;
      background-color: $font-color-purple;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      img {
        height: 36px;
        width: 40px;
        &.phone {
          width: 20px;
        }
      }
    }
    &-info_wrap {
      width: 257px;
      height: 100%;
      background-color: rgba($color: $font-color-white, $alpha: 0.4);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 20px;
      a {
        font-size: rem(18px);
        color: $font-color-black;
        font-family: "PT Sans", sans-serif;
        &:hover {
          color: $font-color-white;
        }
      }
    }
  }
  &_alert {
    width: 300px;
    height: 150px;
    border-radius: 4px;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 70px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    &#error {
      border: 2px solid #e91f29;
      background: rgba($color: rgb(228, 62, 62), $alpha: 0.4);
      display: none;
    }

    &#done {
      border: 2px solid #1fe973;
      background: rgba($color: rgb(68, 226, 139), $alpha: 0.4);
      display: none;
    }
  }
}

.contact_input:focus + .contact_placeholder,
.contact_input:not(:placeholder-shown) + .contact_placeholder,
.contact_textarea:focus + .contact_placeholder,
.contact_textarea:not(:placeholder-shown) + .contact_textarea {
  display: none;
}

.has_err {
  input,
  textarea {
    border-color: orangered;
  }
}

.footer {
  height: 185px;
  background: $font-color-purple;
  &_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    max-width: 1110px;
  }
  &_copy {
    font-size: rem(18px);
    color: $font-color-white;
    font-family: "PT Sans", sans-serif;
  }
  .member_soc-list {
    padding: 0;
    width: 100%;
    max-width: 262px;
  }
  .member_soc-item {
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .about {
    padding: 90px 0 80px;
    &_content-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &_image-block {
      width: 100%;
      text-align: center;
    }
    &_text-block {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .header_menu-list {
    display: none;
  }
  .services {
    &_list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    &_item.big {
      grid-column: 1 / span 2;
      grid-row: 2 / 3;
    }
  }
  .to_top {
    width: 40px;
    height: 40px;
    span {
      width: 12px;
      height: 12px;
      left: 15%;
    }
  }
}

@media screen and (max-width: 600px) {
  .big-screen {
    padding: 200px 0 250px;
  }
  .works {
    &_slider-item {
      height: 400px;
    }
    .prev_slide,
    .next_slide {
      display: none;
    }
  }
  .footer_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contact_input-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .services {
    &_list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
    }
    &_item {
      &.design {
        grid-row: 1 / 2;
      }
      &.development {
        grid-row: 2 / 3;
      }
      &.seo {
        grid-row: 3 / 4;
      }
      &.mobile {
        grid-row: 4 / 5;
      }
      &.big {
        grid-row: 5 / 6;
      }
    }
  }
  .big-screen_title {
    font-size: rem(48px);
  }
}

@media screen and (max-width: 450px) {
  .works_slider-item {
    height: 320px;
  }
}

@media screen and (max-width: 320px) {
  .works_slider-item {
    height: 280px;
  }
}
