@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/TrebuchetMS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*font-family: "Trebuchet MS", Arial, sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  border: 24px solid #fff;
  height: 100vh;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #4a4f56;
  color: #eb7e7f;
  text-align: center;
  padding: 23px 0 21px;
}

header h1 {
  font-size: 35px;
  letter-spacing: 0.6px;
}

header div {
  padding-top: 5px;
  font-size: 24px;
}

main {
  background-color: #3b3f45;
  padding: 40px 0 48px;
}

input[type=checkbox]:checked + label {
  color: #a3a0b5;
}

input[type=checkbox]:checked + label > span::after {
  content: "";
  display: inline-block;
  width: 102.5%;
  border-bottom: solid 2px #a3a0b5;
  position: absolute;
  z-index: 1;
  top: 28px;
  left: -1px;
}

.shop_list li {
  font-size: 25px;
  color: #fff;
  background-color: #88839e;
  border-top: solid 4px transparent;
  border-bottom: solid 4px transparent;
  transition: all .1s ease-in;
}

.shop_list li:hover {
  border-color: #fff;
}

.shop_list li:nth-child(2n) {
  background-color: #7a7593;
}

.custom_ch::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #eee;
  display: inline-block;
  position: relative;
  left: -18px;
  top: 3px;
}

.custom_ch::after {
  content: "";
  display: block;
  width: 12px;
  height: 5px;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: rotate(-52deg);
  position: relative;
  left: 17px;
  top: -35px;
}

.shop_list li input {
  position: relative;
  left: 13px;
  top: 3px;
  width: 25px;
  height: 25px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.shop_list li input:checked + .custom_ch::after {
  border-color: #000;
}

.text_ch {
  position: relative;
  bottom: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  top: 0;
  padding: 13px 0;
}

.text_ch span {
  position: relative;
  font-size: 16px;
  bottom: 2px;
  left: 7px;
  letter-spacing: 0.2px;
  word-spacing: -2px;
}

.text_ch span::before {
  content: "(  "
}

.text_ch span::after {
  content: " )"
}

footer {
  background-color: #3b3f45;
  color: #eb7e7f;
  height: 28.5%;
}

footer div {
  text-align: center;
  padding: 21px 0;
  font-size: 26px;
  letter-spacing: 0.2px;
  background-color: #4a4f56;
}