* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
}

a, button {
  transition: all 0.2s ease;
}

.placer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5eeee;
}

.wrapper {
  position: relative;
}

.sign_in {
  color: #fbf6e4;
  font-family: "Quicksand", sans-serif;
  width: 400px;
  height: 496px;
  background: #2d21a9 url(../images/bg_img.jpg) left top/cover no-repeat;
  padding: 47px 70px;
  letter-spacing: 0.6px;
  box-shadow: 0 0 20px rgba(2, 41, 120, 0.1);
}

.shadow {
  position: absolute;
  bottom: -5%;
  left: 5%;
  width: 90%;
  height: 62px;
  background-color: rgba(20, 40, 62, 0.91);
  box-shadow: 0 0 20px 20px rgba(20, 40, 62, 0.91);
}

.tab_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 53px;
  padding: 0 1px;
}
.tab_list-item {
  margin-right: 24px;
}
.tab_list-item:last-child {
  margin-right: 0;
}
.tab_list-item:hover .tab_list-link::after {
  background-color: #e66a64;
}
.tab_list-item--active .tab_list-link::after {
  background-color: #e66a64;
}
.tab_list-link {
  color: #fbf6e4;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.tab_list-link::after {
  content: "";
  position: absolute;
  display: block;
  background-color: transparent;
  width: 100%;
  height: 2px;
  bottom: -4px;
}

.sign_in_form .credolabel {
  font-size: 16px;
  font-weight: 700;
  padding-left: 1px;
  cursor: pointer;
}
.sign_in_form .credoinput {
  width: 100%;
  margin: 7px 0 15px;
  padding: 7px 5px;
  font-size: 18px;
  color: #fbf6e4;
  letter-spacing: 0.6px;
  border: 2px solid #9f87c9;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
}
.sign_in_form .checksign {
  position: relative;
  margin-right: 5px;
  margin-bottom: 44px;
  cursor: pointer;
}
.sign_in_form .checksign::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #23ae92;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.sign_in_form .checksign::after {
  content: "";
  display: block;
  width: 3px;
  height: 6px;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  top: 3px;
  left: 6px;
}
.sign_in_form .checksign:checked + .checksign::after {
  border-color: #fbf6e4;
}
.sign_in_form .keepsign {
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 43px;
  color: #fbf6e4;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: #23ae92;
  margin-bottom: 26px;
  cursor: pointer;
}

.help_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.help_list-item:active .help_list-link, .help_list-item:hover .help_list-link {
  color: #fff;
}
.help_list-item:active .help_list-link::after, .help_list-item:hover .help_list-link::after {
  background-color: #fff;
}
.help_list-link {
  font-size: 13px;
  color: #b9b9cc;
  text-decoration: none;
  position: relative;
}
.help_list-link::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #b9b9cc;
  width: 100%;
  height: 1px;
  bottom: -4px;
}