@import "reset";
@import "fonts";
@import "soc_icons";

//fonts
$main-ff: "Josefin Sans", sans-serif;
$scndry-ff: "Aleo", serif;
//font-size
$base-size: 16;
//color
$main-col: #fff;
$scndry-ttl-col: #fefefe;
$text-col: #e8e8e8;
$input-col: #999999;
$darktext-col: #2e2e2e;
//background-color
$header-bgc: #5474fd;
$input-bgc: #fff;
$steps-bgc: #333333;
$footer-bgc: #232323;
//btn
$bgc-btn-hov: #496bfe;

@mixin fz($rem) {
  font-size: ($rem/$base_size) + rem;
}

body {
  font-family: $main-ff;
  @include fz(16);
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.title {
  font-family: $scndry-ff;
  @include fz(36);
}

.text {
  color: $text-col;
  line-height: 26px;
}

.logo {
  color: $main-col;
  text-transform: uppercase;
  @include fz(24);
  font-weight: 700;
  letter-spacing: 1.2px;
}

.hamburger {
  display: none;
}

.mmb {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  max-width: 400px;
  color: $main-col;
  background-color: $header-bgc;
  box-shadow: 0 0 5px #000;
  transition: all 0.2s ease;
  z-index: 201;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darken($color: $header-bgc, $amount: 5);
    height: 80px;
  }
  &__logo {
    text-transform: uppercase;
    @include fz(30);
    line-height: 40px;
    font-weight: 700;
    margin-top: 5px;
  }
}

#mobile-menu-shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 200;
}

.open {
  .mmb {
    left: 0;
  }
  #mobile-menu-shadow {
    display: block;
  }
}

.mob-menu {
  min-height: calc(100vh - 80px);
  overflow-y: scroll;
  &__item {
    border-bottom: 1px solid $darktext-col;
  }
  &__link {
    display: inline-block;
    padding: 15px;
    font-family: $scndry-ff;
    @include fz(18);
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-col;
    width: 100%;
    &:active,
    &:hover {
      background-color: #fff;
      color: $darktext-col;
    }
  }
}

#to-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 4%;
  height: 100%;
  background-color: rgba($color: $header-bgc, $alpha: 0.7);
  backdrop-filter: blur(3px);
  box-shadow: 2px 0 5px rgba($color: #000000, $alpha: 0.1);
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 50;
  &:hover {
    opacity: 1;
  }
}

#to-top-mobile {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba($color: #fff, $alpha: 0.2);
  z-index: 199;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 21px;
    left: 17.5px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
  }
  &:active,
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.3);
  }
}

.first_screen {
  background: #045695 url(../images/bg-img1.jpg) center center / cover no-repeat;
  height: 100vh;
  padding: 268px 0 130px;
  color: $main-col;
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main_title {
    @include fz(48);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 4px;
  }
  .tagline {
    @include fz(22);
    line-height: 26px;
    letter-spacing: 5px;
    margin-bottom: 46px;
  }
  .scroll_text {
    @include fz(14);
    letter-spacing: 2px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      transform: translateX(-50%) rotate(-45deg);
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      top: 23px;
      left: 50%;
    }
  }
}

.search_box {
  background-color: $input-bgc;
  max-width: 650px;
  width: 100%;
  margin-bottom: 122px;
  .search_form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .search_input {
    color: darken($color: $input-col, $amount: 15);
    font-family: $main-ff;
    letter-spacing: 2px;
    background-color: $input-bgc;
    border: none;
    outline: none;
    width: 77.5%;
    padding: 23px 3.5%;
    &::placeholder {
      text-align: center;
      color: $input-col;
    }
  }
  .search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.5%;
    min-width: 80px;
    background-color: $header-bgc;
    border: none;
    outline: none;
    margin: 2px;
    font-family: $scndry-ff;
    @include fz(14);
    color: $main-col;
    text-transform: uppercase;
    line-height: 26px;
    cursor: pointer;
    &-text {
      margin-top: 3%;
      margin-left: 15%;
      margin-right: 10%;
      letter-spacing: 1.3px;
    }
    &-icon {
      margin-top: 2%;
    }
    &:active,
    &:hover {
      background-color: $bgc-btn-hov;
    }
  }
}

.header {
  height: 80px;
  width: 100%;
  z-index: 100;
  background-color: $header-bgc;
  .container {
    height: 100%;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &.fixed {
    height: 80px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: rgba($color: $header-bgc, $alpha: 0.7);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    font-family: $scndry-ff;
    margin-right: 42px;
    &--last {
      margin-right: 0;
    }
    &:active .menu__link::after,
    &:hover .menu__link::after {
      background-color: $darktext-col;
    }
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $main-col;
    @include fz(14);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: transparent;
      width: 101%;
      height: 3px;
      bottom: -7px;
    }
  }
}

.replacer {
  display: none;
  height: 80px;
  width: 100%;
  background-color: $header-bgc;
  &.show {
    display: block;
  }
}

.why-choose-us {
  padding: 119px 0 121px;
  background-color: #384041;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_text-block {
    padding-top: 78px;
    width: 50%;
    color: $main-col;
  }
  &_img-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    img {
      max-width: 350px;
    }
    .img_1 {
      margin-bottom: 4px;
      margin-right: 22.5%;
    }
  }
}

.text-block {
  &_title {
    margin-bottom: 56px;
  }
  &_text {
    margin-bottom: 28px;
    letter-spacing: 0.57px;
    &:last-of-type {
      margin-bottom: 43px;
    }
  }
}

.steps {
  background: $steps-bgc;
  padding: 95px 0 112px;
  .flex {
    display: flex;
    justify-content: space-around;
    position: relative;
    &::before {
      content: "";
      display: flex;
      position: absolute;
      background: url(../images/arc.png) center center / contain no-repeat;
      width: 85%;
      height: 100%;
      top: -85px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_block {
    text-align: center;
    img {
      width: 70px;
      height: 70px;
      margin-bottom: 19px;
    }
    &:first-of-type {
      margin-left: -18px;
    }
    &:last-of-type {
      margin-right: -20px;
    }
    &-middle {
      position: relative;
    }
  }
  &_title {
    color: $text-col;
  }
}

.present,
.present-reverse {
  padding: 229px 0 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.present {
  background-color: #928caf;
  .flex {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

.present-reverse {
  background-color: #ffa65a;
  .flex {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.pblock {
  width: 100%;
  max-width: 540px;
  background-color: rgba($color: $footer-bgc, $alpha: 0.9);
  padding: 49px 25px 50px 30px;
  &_country {
    color: $text-col;
    @include fz(20);
    margin-bottom: 30px;
  }
  &_title {
    color: $main-col;
    font-weight: 400;
    @include fz(20);
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }
  &_text {
    letter-spacing: -1px;
    margin-bottom: 43px;
  }
}

.tourist-say {
  padding: 114px 0 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  &_title {
    color: $main-col;
    letter-spacing: 0.3px;
    margin-bottom: 93px;
  }
}

.tsay-block {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  &_img {
    width: 40%;
    object-fit: cover;
  }
  &_description {
    width: 60%;
    background-color: $steps-bgc;
    padding: 50px 40px 40px 60px;
  }
  &_name {
    color: $scndry-ttl-col;
    @include fz(20);
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 40px;
  }
  &_text {
    text-indent: 30px;
    letter-spacing: -1.05px;
    position: relative;
    .icon {
      @include fz(20);
      position: absolute;
      color: $header-bgc;
      left: -63px;
      top: -12px;
    }
  }
}

.footer {
  padding: 121px 0 80px;
  background-color: $footer-bgc;
  &_block {
    max-width: 175px;
    margin: 0 auto;
    text-align: center;
  }
  &_logo {
    letter-spacing: 2.3px;
    margin-bottom: 11px;
  }
  &_tagline {
    color: $main-col;
    letter-spacing: 0.6px;
    margin-bottom: 28px;
  }
  &_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_icon {
    color: $text-col;
    @include fz(16);
    &:active,
    &:hover {
      color: $header-bgc;
    }
  }
}

.btn {
  font-family: $scndry-ff;
  color: $main-col;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  height: 60px;
  width: 100%;
  max-width: 225px;
  line-height: 60px;
  letter-spacing: 1.2px;
  transition: all 0.55s ease;
  background: rgb(73, 107, 254);
  background: -moz-linear-gradient(
    46deg,
    rgba(73, 107, 254, 1) 0%,
    rgba(73, 107, 254, 1) 50%,
    rgba(84, 116, 253, 1) 50%,
    rgba(84, 116, 253, 1) 100%
  );
  background: -webkit-linear-gradient(
    46deg,
    rgba(73, 107, 254, 1) 0%,
    rgba(73, 107, 254, 1) 50%,
    rgba(84, 116, 253, 1) 50%,
    rgba(84, 116, 253, 1) 100%
  );
  background: linear-gradient(
    46deg,
    rgba(73, 107, 254, 1) 0%,
    rgba(73, 107, 254, 1) 50%,
    rgba(84, 116, 253, 1) 50%,
    rgba(84, 116, 253, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#496bfe",endColorstr="#5474fd",GradientType=1);
  background-size: 260% 100%;
  background-position: -214px 0;
  &:active,
  &:hover {
    background-position: 0px 0;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    &__item {
      margin-right: 20px;
      &--last {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  #to-top {
    display: none;
  }
  #to-top-mobile {
    display: block;
  }
  .search_box {
    .search_btn {
      &-icon {
        display: none;
      }
    }
  }
}
