@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

#services_list {
  padding: 56px 0;
}

#services_list li {
  display: inline-block;
  width: 33.3333%;
  margin: 0 -2px;
  padding: 0 20px;
  text-align: center;
}

#services_list li h3 {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  margin-bottom: 14px;
  word-spacing: 0.4px;
  letter-spacing: 0.3px;
}

#services_list li p {
  color: #9d9d9d;
  font-size: 14px;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 300;
  line-height: 20px;
  max-width: 225px;
  margin: 0 auto;
  word-spacing: 0.4px;
  letter-spacing: 0.3px;
}

.icon_wrap {
  margin-bottom: 12px;
}

.icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 1px solid #1275b9;
  background-color: #1275b9;
  border-radius: 50%;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}

.icon:hover {
  background-color: #fff;
}

.icon_tablet {
  background-position: 19px 16px;
}

.icon_tablet:hover {
  background-position: 19px -34px;
}

.icon_cog {
  background-position: -41px 16px;
}

.icon_cog:hover {
  background-position: -41px -34px;
}

.icon_tachometr {
  background-position: -100px 16px;
}

.icon_tachometr:hover {
  background-position: -100px -34px;
}
