@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

ul, ol {
  list-style: none; }

img {
  vertical-align: top; }

a, button {
  transition: all .2s ease; }

/* gotham-400-regular */
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/gotham-medium-webfont.woff2") format("woff2"), url("../fonts/gotham-medium-webfont.woff") format("woff");
  /* Modern Browsers */ }

/* gotham-700-bold */
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/gothambold1.woff2") format("woff2"), url("../fonts/gothambold1.woff") format("woff");
  /* Modern Browsers */ }

/* gotham-350-book */
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 350;
  src: local(""), url("../fonts/GothamBook.woff2") format("woff2"), url("../fonts/GothamBook.woff") format("woff");
  /* Modern Browsers */ }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-regular.woff") format("woff");
  /* Modern Browsers */ }

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v20-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-italic.woff") format("woff");
  /* Modern Browsers */ }

#top_panel {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(90, 90, 90, 0.8);
  color: #fff;
  z-index: 1000; }

#top_panel button {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: red;
  cursor: pointer;
  line-height: 16px;
  margin-top: -8px; }

#top_panel.panel_info {
  background-color: rgba(13, 133, 235, 0.8); }

#top_panel.panel_success {
  background-color: rgba(9, 153, 20, 0.8); }

#top_panel.panel_danger {
  background-color: rgba(198, 17, 17, 0.8); }

#top_panel.panel_danger button {
  color: #fff; }

#top_panel.panel_warning {
  background-color: rgba(235, 166, 13, 0.8); }

@font-face {
  font-family: 'monticello';
  src: url("../fonts/monticello.woff2") format("woff2"), url("../fonts/monticello.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'monticello';
    src: url('../font/monticello.svg?74233709#monticello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "monticello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-location:before {
  content: '\e800'; }

/* '' */
.icon-phone:before {
  content: '\e801'; }

/* '' */
.icon-inbox:before {
  content: '\e802'; }

/* '' */
.icon-clock:before {
  content: '\e803'; }

/* '' */
.icon-heart:before {
  content: '\e804'; }

/* '' */
.icon-twitter:before {
  content: '\f099'; }

/* '' */
.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
.hamburger {
  padding: 0px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #fff; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

.hamburger {
  display: none; }

.mmb {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  max-width: 25rem;
  color: #fff;
  background-color: #fff;
  box-shadow: 0 0 0.3125rem #000;
  transition: all 0.2s ease;
  z-index: 201; }
  .mmb__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    background: #55b7ff;
    background: -moz-linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
    background: -webkit-linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
    background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#55b7ff",endColorstr="#7e5aff",GradientType=1);
    height: 5rem; }

#mobile-menu-shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.1875rem);
  z-index: 200; }

.open .mmb {
  left: 0; }

.open #mobile-menu-shadow {
  display: block; }

.mob-menu {
  min-height: calc(100vh - 3.125rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .mob-menu__item {
    border-bottom: 0.0625rem solid #6989ff; }
  .mob-menu__link {
    display: inline-block;
    padding: 0.9375rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #6989ff;
    width: 100%; }
    .mob-menu__link:active, .mob-menu__link:hover {
      background: #55b7ff;
      background: -moz-linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
      background: -webkit-linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
      background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#55b7ff",endColorstr="#7e5aff",GradientType=1);
      color: #fff; }

.mob-soc {
  display: flex;
  justify-content: center;
  width: 100%; }
  .mob-soc__item {
    margin: 0.625rem; }
  .mob-soc__link {
    border-color: #6989ff;
    color: #6989ff; }
    .mob-soc__link:hover {
      background-color: #6989ff;
      color: #fff; }

#to-top {
  display: none;
  position: fixed;
  right: 1.5625rem;
  bottom: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: rgba(105, 137, 255, 0.3);
  z-index: 199; }
  #to-top::before {
    content: "";
    position: absolute;
    display: block;
    top: 1.3125rem;
    left: 1.09375rem;
    border-left: 0.125rem solid #fff;
    border-top: 0.125rem solid #fff;
    width: 0.875rem;
    height: 0.875rem;
    transform: rotate(45deg); }
  #to-top:active, #to-top:hover {
    background-color: rgba(105, 137, 255, 0.6); }

.header {
  position: fixed;
  top: 0;
  height: 9.6875rem;
  width: 100%;
  z-index: 100;
  background-color: transparent; }
  .header .container {
    height: 100%; }
  .header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .header.sticky {
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.3);
    background: #55b7ff;
    background: -moz-linear-gradient(45deg, rgba(85, 183, 255, 0.7) 0%, rgba(126, 90, 255, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(85, 183, 255, 0.7) 0%, rgba(126, 90, 255, 0.7) 100%);
    background: linear-gradient(45deg, rgba(85, 183, 255, 0.7) 0%, rgba(126, 90, 255, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#55b7ff",endColorstr="#7e5aff",GradientType=1);
    backdrop-filter: blur(0.1875rem);
    height: 5rem; }

.menu {
  width: 100%; }
  .menu__list {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
  .menu__item {
    margin-right: 6.3125rem; }
    .menu__item--last {
      margin-right: 5.3125rem; }
    .menu__item:active .menu__link::before,
    .menu__item:hover .menu__link::before {
      background-color: #fff; }
  .menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 350;
    position: relative; }
    .menu__link::before {
      content: "";
      position: absolute;
      display: block;
      border: 0.0625rem solid #fff;
      border-radius: 50%;
      background-color: transparent;
      width: 0.4375rem;
      height: 0.4375rem;
      top: 0.1875rem;
      left: -1.5rem; }

.soc-list {
  display: flex;
  justify-content: flex-start; }
  .soc-list__item {
    margin-right: 1.25rem; }
    .soc-list__item:last-child {
      margin-right: 0; }
  .soc-list__link {
    border-color: #fff;
    color: #fff; }
    .soc-list__link:hover {
      background-color: #fff;
      color: #6989ff; }

@media screen and (max-width: 1240px) {
  .menu__item {
    margin-right: 3.75rem; }
    .menu__item:last-child {
      margin-right: 2.5rem; }
  .menu__link::before {
    left: -0.875rem; }
  .soc-list__item {
    margin-right: 0.625rem; } }

@media screen and (max-width: 1060px) {
  .menu__item {
    margin-right: 1.875rem; }
    .menu__item:last-child {
      margin-right: 0.9375rem; } }

@media screen and (max-width: 870px) {
  .menu__item {
    margin-right: 1.25rem; }
    .menu__item:last-child {
      margin-right: 0.625rem; }
  .menu__link {
    font-size: 0.75rem; }
  .soc-list__item {
    margin-right: 0.375rem; } }

@media screen and (max-width: 768px) {
  .menu {
    display: none; }
  .hamburger {
    display: block; }
  .soc-list {
    justify-content: flex-end;
    width: 100%; }
    .soc-list__item {
      margin-right: 1.25rem; }
      .soc-list__item:last-child {
        margin-right: 0; } }

@media screen and (max-width: 510px) {
  .soc-list {
    display: none; } }

@media screen and (max-width: 330px) {
  .header__logo {
    width: 100%;
    margin-right: 0.9375rem; }
    .header__logo-img {
      width: 100%; }
  .mmb__logo {
    width: 100%;
    margin-right: 0.9375rem; }
    .mmb__logo-img {
      width: 100%; } }

.footer {
  padding: 13.125rem 0;
  background-size: cover;
  background-position: center; }
  .footer .container {
    max-width: 48.125rem; }
  .footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem; }
  .footer__logo {
    margin-top: -0.3125rem; }
  .footer__bottom {
    font-size: 0.875rem;
    color: #fff;
    font-weight: 350; }
  .footer__copyright {
    margin-right: 2.1875rem;
    position: relative; }
    .footer__copyright::after {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.6);
      height: 1.25rem;
      width: 0.0625rem;
      top: -0.125rem;
      right: -1.25rem; }

.footer-soc {
  display: flex;
  justify-content: flex-start; }
  .footer-soc__item {
    margin-right: 1.25rem; }
    .footer-soc__item:last-child {
      margin-right: 0; }
  .footer-soc__link {
    border-color: #fff;
    color: #fff; }
    .footer-soc__link:hover {
      background-color: #fff;
      color: #6989ff; }

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 25rem;
    padding-bottom: 3.75rem; }
    .footer__top {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1.25rem; }
    .footer__logo {
      margin-bottom: 1.25rem; }
    .footer__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
    .footer__copyright {
      margin-bottom: 0.625rem;
      margin-right: 0; }
      .footer__copyright::after {
        display: none; }
  .footer-soc {
    justify-content: center; } }

@media screen and (max-width: 540px) {
  .footer {
    padding-top: 28.125rem; } }

.first-screen {
  position: relative;
  height: 100vh;
  max-height: 50rem;
  margin-bottom: 8.125rem; }
  .first-screen .fs-slider__item {
    height: 100%;
    width: 100%;
    padding: 10%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; }
    .first-screen .fs-slider__item-title {
      margin-top: 2.0625rem;
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.28125rem;
      margin-bottom: 1.125rem; }
    .first-screen .fs-slider__item-tagline {
      font-size: 1.125rem;
      font-weight: 350;
      text-transform: uppercase;
      letter-spacing: 0.34375rem; }
  .first-screen__btn {
    bottom: 3.125rem;
    left: 50%;
    transform: translateX(-50%); }
    .first-screen__btn a::before {
      top: 0.875rem;
      border-left: 0.0625rem solid #fff;
      border-bottom: 0.0625rem solid #fff;
      transform: rotate(-45deg) translateX(-50%); }
  .first-screen .lSSlideOuter .lSPager.lSpg {
    position: absolute;
    top: 30%;
    right: 0; }
    .first-screen .lSSlideOuter .lSPager.lSpg > li {
      display: block;
      margin: 2rem; }
      .first-screen .lSSlideOuter .lSPager.lSpg > li.active a {
        background-color: #fff; }
      .first-screen .lSSlideOuter .lSPager.lSpg > li:hover a {
        background-color: #fff; }
      .first-screen .lSSlideOuter .lSPager.lSpg > li a {
        background-color: transparent;
        border: 0.0625rem solid #fff;
        width: 0.5625rem;
        height: 0.5625rem;
        transition: all .2s ease; }

@media screen and (max-width: 1240px) {
  .first-screen .fs-slider__item-title {
    font-size: 3.125rem; }
  .first-screen .fs-slider__item-tagline {
    font-size: 0.875rem; } }

@media screen and (max-width: 768px) {
  .first-screen {
    margin-bottom: 5rem; }
    .first-screen .fs-slider__item-title {
      font-size: 1.875rem; } }

@media screen and (max-width: 420px) {
  .first-screen .lSSlideOuter .lSPager.lSpg > li {
    margin: 2rem 0.625rem; } }

.wwd {
  width: 100%; }
  .wwd .container {
    width: 70%; }
  .wwd__title {
    color: #2c4058;
    margin-bottom: 10rem; }
    .wwd__title::before {
      background-color: #2c4058; }
  .wwd__block-left .wwd-blk__text-blk {
    padding-left: 4.375rem; }
  .wwd__block-left .wwd-blk__img-blk::before {
    background-color: #55b7ff;
    left: -34.5%;
    top: -14.8%; }
  .wwd__block-right {
    flex-direction: row-reverse; }
    .wwd__block-right .wwd-blk__text-blk {
      padding-right: 4.375rem; }
    .wwd__block-right .wwd-blk__img-blk::before {
      background-color: #7e5aff;
      right: -34.5%;
      top: -14.8%; }

.wwd-blk {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin-bottom: 13.125rem; }
  .wwd-blk:last-child {
    margin-bottom: 8.6875rem; }
  .wwd-blk__img-blk {
    width: 54%;
    position: relative; }
    .wwd-blk__img-blk::before {
      content: "";
      position: absolute;
      width: 93%;
      height: 100%;
      z-index: -1; }
  .wwd-blk__img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; }
  .wwd-blk__text-blk {
    width: 46.2%;
    padding-top: 3.4375rem;
    padding-bottom: 4rem; }
  .wwd-blk__pretitle {
    text-transform: uppercase;
    color: #2c4058;
    font-size: 1.375rem;
    font-weight: 350;
    margin-bottom: 0.1875rem; }
  .wwd-blk__title {
    text-transform: uppercase;
    color: #2c4058;
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 1.4375rem; }
  .wwd-blk__text {
    color: #4b5562;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.9375rem;
    letter-spacing: 0.00937rem;
    margin-bottom: 1.875rem; }
  .wwd-blk__btn {
    margin-bottom: 3.5rem; }
  .wwd-blk__link {
    color: #2c4058;
    font-size: 1.125rem;
    font-weight: 350;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    text-decoration: none;
    letter-spacing: 0.00313rem;
    margin-left: -0.5rem; }
    .wwd-blk__link i {
      margin-right: 0.125rem; }

@media screen and (max-width: 1580px) {
  .wwd-blk__text-blk {
    padding-top: 1.5625rem;
    padding-bottom: 0; }
  .wwd-blk__pretitle {
    font-size: 1.25rem; }
  .wwd-blk__title {
    font-size: 2.1875rem; }
  .wwd-blk__text {
    font-size: 1rem; } }

@media screen and (max-width: 1280px) {
  .wwd__block-left .wwd-blk__text-blk {
    padding-left: 2.1875rem; }
  .wwd__block-right .wwd-blk__text-blk {
    padding-right: 2.1875rem; }
  .wwd-blk__text-blk {
    padding-top: 0.9375rem; }
  .wwd-blk__pretitle {
    font-size: 1.125rem; }
  .wwd-blk__title {
    font-size: 1.875rem; }
  .wwd-blk__text {
    font-size: 0.875rem; } }

@media screen and (max-width: 1100px) {
  .wwd .container {
    width: 75%; }
  .wwd-blk__img-blk {
    width: 45%; }
  .wwd-blk__text-blk {
    width: 55%; } }

@media screen and (max-width: 925px) {
  .wwd .container {
    width: 87%; }
  .wwd__block-left .wwd-blk__img-blk::before {
    background-color: #55b7ff;
    left: -14.5%; }
  .wwd__block-right .wwd-blk__img-blk::before {
    background-color: #7e5aff;
    right: -14.5%; }
  .wwd-blk__text-blk {
    padding-top: 0; }
  .wwd-blk__img-blk::before {
    width: 70%; } }

@media screen and (max-width: 768px) {
  .wwd .container {
    width: 90%; }
  .wwd__title {
    margin-bottom: 5rem; }
  .wwd__block-left .wwd-blk__text-blk {
    padding-left: 0; }
  .wwd__block-left .wwd-blk__img-blk::before {
    display: none; }
  .wwd__block-right .wwd-blk__text-blk {
    padding-right: 0; }
  .wwd__block-right .wwd-blk__img-blk::before {
    display: none; }
  .wwd-blk {
    flex-direction: column;
    margin-bottom: 5rem; }
    .wwd-blk:last-child {
      margin-bottom: 5rem; }
    .wwd-blk__img-blk {
      width: 100%; }
    .wwd-blk__text-blk {
      width: 100%;
      padding-top: 1.25rem; }
    .wwd-blk__pretitle {
      font-size: 1.25rem; }
    .wwd-blk__title {
      font-size: 2.125rem; }
    .wwd-blk__text {
      font-size: 1rem; } }

@media screen and (max-width: 420px) {
  .wwd__title {
    margin-bottom: 2.5rem; }
  .wwd-blk__pretitle {
    font-size: 1.125rem; }
  .wwd-blk__title {
    font-size: 1.875rem;
    margin-bottom: 0.875rem; }
  .wwd-blk__text {
    font-size: 1rem;
    line-height: 1.625rem; }
  .wwd-blk__btn {
    margin: 0 auto 1.875rem; } }

.latest-news {
  padding-top: 10.625rem;
  padding-bottom: 5.5rem;
  background-size: cover;
  background-position: center; }
  .latest-news__title {
    color: #fff;
    margin-bottom: 5.5625rem; }
    .latest-news__title::before {
      background-color: #fff; }
  .latest-news .lSSlideOuter .lSPager.lSpg > li {
    margin: 3.125rem 0.9375rem; }
    .latest-news .lSSlideOuter .lSPager.lSpg > li.active a {
      background-color: #fff; }
    .latest-news .lSSlideOuter .lSPager.lSpg > li:hover a {
      background-color: #fff; }
    .latest-news .lSSlideOuter .lSPager.lSpg > li a {
      background-color: transparent;
      border: 0.0625rem solid #fff;
      width: 0.5625rem;
      height: 0.5625rem;
      transition: all .2s ease; }

.ln-slider__wrap {
  position: relative; }

.ln-slider__item {
  height: 32.125rem !important;
  background-color: #fff;
  position: relative; }

.ln-slider__btn {
  top: 37%; }
  .ln-slider__btn a::before {
    border-top: 0.0625rem solid #fff; }
  .ln-slider__btn-prev {
    left: -6.25rem; }
    .ln-slider__btn-prev a::before {
      top: 0.9375rem;
      border-left: 0.0625rem solid #fff;
      transform: rotate(-45deg) translateX(-50%); }
  .ln-slider__btn-next {
    right: -6.25rem; }
    .ln-slider__btn-next a::before {
      margin-left: -0.0625rem;
      top: 1.25rem;
      border-right: 0.0625rem solid #fff;
      transform: rotate(45deg) translateX(-50%); }

.ln-it__btm-blk {
  padding: 1.25rem 1.5625rem 1.25rem 1.25rem; }

.ln-it__img {
  width: 100%; }

.ln-it__title {
  height: 4.125rem;
  overflow: hidden;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 2.125rem;
  text-transform: uppercase;
  letter-spacing: 0.01875rem;
  margin-bottom: 0.375rem; }
  .ln-it__title-link {
    color: #2c4058;
    text-decoration: none; }

.ln-it__text {
  color: #4b5562;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  height: 3.75rem;
  letter-spacing: -0.00625rem;
  overflow: hidden; }

.a-blk {
  position: absolute;
  bottom: 1.875rem;
  display: flex; }
  .a-blk__img {
    width: 3.75rem;
    height: 3.75rem; }
  .a-blk__text-block {
    padding-left: 1.3125rem;
    padding-top: 0.375rem; }
  .a-blk__name {
    color: #2c4058;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 350;
    line-height: 1.375rem;
    margin-bottom: 0.3125rem; }
  .a-blk__date {
    color: #55b7ff;
    font-weight: 350;
    font-size: 0.875rem;
    line-height: 1.375rem; }

@media screen and (max-width: 1460px) {
  .latest-news .container {
    padding: 0 5rem; }
  .ln-slider__wrap {
    width: 100%; } }

@media screen and (max-width: 1240px) {
  .ln-it__title {
    height: 3.375rem;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 0.375rem; }
  .ln-it__text {
    font-size: 1rem;
    line-height: 1.375rem;
    height: 2.75rem; }
  .a-blk__name {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0.3125rem; }
  .a-blk__date {
    font-size: 0.875rem;
    line-height: 1.25rem; } }

@media screen and (max-width: 1180px) {
  .ln-slider__item {
    height: 28.4375rem !important; } }

@media screen and (max-width: 768px) {
  .latest-news {
    padding-top: 6.25rem;
    padding-bottom: 1.25rem; }
    .latest-news__title {
      margin-bottom: 3.75rem; }
  .ln-slider__item {
    height: 35.3125rem !important; } }

@media screen and (max-width: 560px) {
  .latest-news .container {
    padding: 0; }
  .ln-slider__item {
    height: 33.75rem !important; }
  .ln-slider__btn {
    display: none; } }

@media screen and (max-width: 420px) {
  .ln-slider__item {
    height: 28.4375rem !important; } }

.gallery {
  padding-top: 10.6875rem;
  padding-bottom: 8.75rem; }
  .gallery__title {
    color: #2c4058;
    margin-bottom: 5.5625rem; }
    .gallery__title::before {
      background-color: #2c4058; }
  .gallery__btn {
    margin: 0 auto; }

.lightgallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
  margin-bottom: 3.75rem; }
  .lightgallery__link {
    width: 100%;
    height: 100%;
    position: relative;
    transition: opacity 1s ease; }
    .lightgallery__link-big {
      grid-column: 1 / 3;
      grid-row: 1 / 3; }
    .lightgallery__link:active .lightgallery__zoom {
      background-color: rgba(105, 137, 255, 0.8); }
    .lightgallery__link:hover .lightgallery__zoom {
      opacity: 1; }
  .lightgallery__img {
    width: 100%;
    height: 100%; }
  .lightgallery__zoom {
    content: "";
    display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 0.0625rem solid #fff;
    border-radius: 50%;
    background-color: rgba(105, 137, 255, 0.2);
    opacity: 0; }
    .lightgallery__zoom::before {
      content: "";
      display: block;
      position: absolute;
      width: 0.0625rem;
      height: 1.4375rem;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #fff; }
    .lightgallery__zoom::after {
      content: "";
      display: block;
      position: absolute;
      width: 1.4375rem;
      height: 0.0625rem;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #fff; }

@media screen and (max-width: 768px) {
  .gallery {
    padding-top: 6.25rem;
    padding-bottom: 5rem; }
    .gallery__title {
      margin-bottom: 2.5rem; }
  .lightgallery {
    grid-template-columns: repeat(2, 1fr); }
    .lightgallery__link {
      grid-column: span 1; }
      .lightgallery__link-big {
        grid-column: span 2; } }

@media screen and (max-width: 440px) {
  .lightgallery {
    grid-template-columns: repeat(1, 1fr); }
    .lightgallery__link-big {
      grid-column: span 1; } }

.get-in-touch {
  position: relative; }
  .get-in-touch .container {
    width: 100%;
    max-width: 48.125rem;
    padding: 0 0.625rem; }
  .get-in-touch__map {
    height: 43.75rem;
    position: relative;
    z-index: 0; }
    .get-in-touch__map-preview {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .get-in-touch__map-text {
      display: block;
      position: absolute;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(105, 137, 255, 0.6);
      color: #fff;
      text-align: center;
      line-height: 700px;
      font-size: 20px;
      text-decoration: none;
      opacity: 0;
      transition: all .2s ease; }
      .get-in-touch__map-text:hover {
        opacity: 1; }

.markerPopup li {
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham", sans-serif;
  color: #2c4058;
  font-size: 0.875rem; }

.gint-sf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  max-width: 770px;
  width: 100%;
  padding: 5rem 0rem 2.75rem 0rem;
  left: 50%;
  bottom: -9.0625rem;
  transform: translateX(-50%);
  background-color: #fff;
  background-size: cover;
  background-position: center; }
  .gint-sf__top .gint-sf__title {
    color: #2c4058;
    margin-bottom: 2.5rem; }
    .gint-sf__top .gint-sf__title::before {
      top: -1.25rem;
      background-color: #2c4058; }
  .gint-sf__btm {
    display: flex;
    justify-content: center; }
    .gint-sf__btm .fblk__btn {
      position: absolute;
      right: 3.75rem;
      width: 8.75rem; }

.cblk__link {
  padding-left: 1.25rem;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #2c4058;
  font-weight: 350;
  font-size: 1.125rem;
  line-height: 2.125rem;
  margin-bottom: 1.5625rem; }
  .cblk__link i {
    color: #7e5aff;
    margin-right: 0.1875rem; }

.fblk {
  padding-left: 2.8125rem;
  width: 50%; }
  .fblk__input {
    font-family: "Gotham", sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #2c4058;
    margin-bottom: 1.75rem;
    padding: 0.4375rem 0.3125rem 0.9375rem 0.3125rem;
    width: 93%;
    border: none;
    border-bottom: 0.0625rem solid #2c4058; }
    .fblk__input:last-of-type {
      margin-bottom: 1.9375rem; }

@media screen and (max-width: 768px) {
  .get-in-touch__map {
    height: 31.25rem; }
  .gint-sf {
    bottom: -18.75rem; }
    .gint-sf__btm {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .gint-sf__btm .fblk__btn {
        position: inherit;
        margin: 0 auto; }
  .cblk {
    padding: 0 0.625rem;
    width: 100%; }
    .cblk__link {
      font-size: 1rem;
      line-height: 1.5rem; }
  .fblk {
    padding: 0 1.25rem;
    width: 100%; }
    .fblk__input {
      width: 100%; } }

@media screen and (max-width: 540px) {
  .gint-sf {
    bottom: -25rem; } }

body {
  font-family: "Gotham", sans-serif; }

.container {
  width: 90%;
  max-width: 73.125rem;
  margin: 0 auto; }

.btn {
  font-family: "Gotham", sans-serif;
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  color: #2c4058;
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 3.125rem;
  border: 0.0625rem solid #2c4058;
  width: 11.875rem;
  height: 3.125rem;
  background-color: transparent; }
  .btn:hover, .btn:active {
    background-color: #2c4058;
    color: #fff; }

.arrow-btn {
  position: absolute; }
  .arrow-btn a {
    text-decoration: none;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.0625rem solid #fff;
    border-radius: 50%; }
    .arrow-btn a:hover, .arrow-btn a:active {
      background-color: #fff; }
    .arrow-btn a:hover::before, .arrow-btn a:active::before {
      border-color: #6989ff; }
    .arrow-btn a::before {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      width: 0.3125rem;
      height: 0.3125rem; }

.title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.75rem;
  font-weight: 700; }
  .title::before {
    content: "";
    display: block;
    width: 6.25rem;
    height: 0.0625rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1.9375rem; }

.soc_link {
  display: block;
  border-width: 0.0625rem;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none; }
