@font-face {
  font-family: "Museo Sans Rounded";
  src: url("../fonts/MuseoSansRounded-100.woff2") format("woff2"),
    url("../fonts/MuseoSansRounded-100.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
