/* gotham-400-regular */
@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/gotham-medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/gotham-medium-webfont.woff') format('woff'); /* Modern Browsers */
  }
  
  /* gotham-700-bold */
  @font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/gothambold1.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/gothambold1.woff') format('woff'); /* Modern Browsers */
  }
  
  /* gotham-350-book */
  @font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    src: local(''),
         url('../fonts/GothamBook.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/GothamBook.woff') format('woff'); /* Modern Browsers */
  }