//fonts
$main-ff: "Gotham", sans-serif;
$text-ff: "Open Sans", sans-serif;
//font-size
$baseFontSize: 16px;
//color
$main-col: #fff;
$title-col: #2c4058;
$text-col: #4b5562;
$date-col: #55b7ff;
$icon-col: #7e5aff;
$err-col: #ff4d4d;
//background-color
$header-bgc: #6989ff;